/*

input#menuPanel{

    position: relative;
    top: 5%;
    left: 1%;
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    background: url("Icons/menu_white_24dp.svg") no-repeat center rgba(14, 52, 111,1) ;
    background-size: contain;
    box-shadow:   inset 1px 1px 4px white , inset -1px -1px 4px white;

}



div#classroomsList{

    position: fixed;
    margin-left: 0.5%;
    left: 0px;
    top: 100px;
    width: 17%;
    height: 80%;
    background-color: rgba(100, 149, 237, 0.34);
    box-shadow:  inset -1px -11px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 8px 8px 2px #a7a7a7;
    overflow-y: scroll;


}

div#content{

    position: fixed;
    top: 100px;
    left: 20%;
    height: 85%;
    overflow-y: scroll !important;
    width: 80%;
    box-shadow:  inset -1px -11px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 8px 8px 2px #a7a7a7;

}


img.imageOfThePostThatTheTeacherPostAsAQuestion{

    width: 100%;
    height: 100%;
    !*margin: 1% 0%;*!

}

div.postAnswerButton{

    width: 100%;
    height: 30px;
    background-color: rgba(14, 52, 111,1);


}

input.answerButton{

    position: relative;
    margin: 0 auto;
    height: 100%;
    padding: 1%;
    display: block;
    background-color: rgba(100, 149, 237, 0.34);
    border-color: transparent;


}

div.answersSection{

    height: 300px;
    overflow-y: scroll;

}

div.singleAnswer{

    padding: 1.5%;
    width: 90%;
    !*height: fit-content;*!
    margin: 2% auto;
    box-shadow:   4px 4px 2px #a7a7a7 , inset 2px 2px 7px white , inset -2px -2px 7px white;



}

div.profileOfStudentsAtAnswerSection{

    background-color: rgba(14, 52, 111,1);
    color: white;
    padding: 0.5%;

}



div.answerText{

    vertical-align: middle;
    padding: 2% 0 2% 2%;
    !*margin: 1%;*!
    width: 100%;
    height: 100%;




}

div.rangeForMarksSection{

    padding: 2% 0 2% 2%;
    width: 100%;
    height: 100%;


}

input.rangeForMarks{

    position: relative;
    right: 0;
    vertical-align: middle;
    padding: 2%;
    display: inline;

}



h4#classroomHeadingWithAddClassroomFunction{

    box-shadow:   4px 4px 2px #a7a7a7;
    position: relative;
    left: 4%;
    padding: 5px;
    width: 85%;
    margin-top: 5%;
    background-color: rgba(14, 52, 111,1);
    color: white;
    text-align: left;

}

h4#classroomHeadingWithAddClassroomFunction > a{

    position: relative;
    left: 30%;
    color: white;
    text-decoration: none; !* To remove the underline in the link*!

}

h4#classroomHeadingWithAddClassroomFunction > a > img{

    width: 7%;
    height: 7%;
    float: none;
    vertical-align: middle;

}

a.classRooms{

    box-shadow:   4px 4px 2px #a7a7a7 , inset 2px 2px 7px white , inset -2px -2px 7px white;
    position: relative;
    left: 4%;
    display: block;
    padding: 5px;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    text-decoration: none;
    text-align: center;

}
*/

body{

    /*This is the main container for footer , header , and div#content*/

    display: flex;
    flex-direction: column;
}


header{

    /*child of the body*/
    color: whitesmoke;
    padding: 0.5%;
    background-color: #4775c4;
    box-shadow: 8px 8px 2px #a7a7a7;
    order: 1; /*this specifies the order in which it is to be displayed in the html page even if it has a different order in html*/
    display: flex; /*this is a container now*/
    position: fixed;
    width: 100%;
    /*display: none;*/


}

header > a {

    /*child of header , to both the anchor<a> children*/

    text-decoration: none;
    color: whitesmoke;
    flex: 1;
    margin: auto;
    padding: 0.2%;

}

header > h1{

    /*child of header*/

    flex: 8;
    margin: auto;
    padding: 0.2%;

}

header > div#logout{

    flex: 0.5;
    margin: auto;
    border-left: whitesmoke solid 2px;
    padding: 0 0.3%;

}

.logo{

    width: 70%;
    height: 70%;

}

a#profile{

    /*for the profile part this is the container*/
    display: flex;

}

a#profile > div{

    /*child of a#profile*/

    flex: 2;
    margin: auto;


}

a#profile > div#profileImage{

    /*child of a#profile*/

    flex: 1;
    margin: auto;

}

#profileIcon{

    width: 40px;
    height: 40px;
    border-radius: 20px;
}

div#content{

    /*child of body*/

    order: 2;
    display: flex; /*this becomes the container for classroomContents*/
    flex-wrap: wrap;
    align-items: flex-start;
    position: fixed;
    top: 150px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;

}

div#content > div#classroomList{

    margin: 1% auto;
    box-shadow:  inset -1px -1px 5px #4775c4 , inset 1px 1px 5px #4775c4 ;
    /*flex: 1;*/
    padding: 0.5%;
    width: 20%;
    position: fixed;
    left: 0;
}

div#content > div#classroomContents{

    margin: 1% 0.5%;
    box-shadow:  inset -1px -1px 5px #4775c4 , inset 1px 1px 5px #4775c4 ;
    /*flex: 3;*/
    padding: 0.5%;
    position: fixed;
    left: 20%;
    width: 55%;

}

div#content > div#classroomStudentList{

    margin: 1% auto;
    box-shadow:  inset -1px -1px 5px #4775c4 , inset 1px 1px 5px #4775c4 ;
    /*flex: 1;*/
    padding: 0.5%;
    width: 18%;
    position: fixed;
    right: 0;


}


a{

    text-decoration: none;
    color: whitesmoke;

}



