
body{

    /*This is the main container for footer , header , and div#content*/

    background-color: white;
    display: flex;
    flex-direction: column;
}

header{

    /*child of the body*/

    color: whitesmoke;
    /*padding: 0.5%;*/
    background-color: #4775c4;
    box-shadow: 8px 8px 2px #a7a7a7;
    order: 1; /*this specifies the order in which it is to be displayed in the html page even if it has a different order in html*/
    display: flex; /*this is a container now for headerMainBar and headerButtons*/
    position: fixed;
    width: 99%;
    flex-direction: column;
    position: absolute;

}

header > div#headerMainBar {
    /*child of header*/
    flex: 1;
    display: flex;
    flex-wrap: wrap;

}



header > div#headerMainBar > a#linkLogo {

    /*child of header , to both the anchor<a> children*/

    flex: 1;
    margin: auto;
    padding: 0.2%;

}

header > div#headerMainBar > div#headingSearch {

    /*child of header*/

    flex: 7;
    display: flex;
    margin: auto 0.8%;


}


header > div#headerMainBar > div#headingSearch > div#searchBar {

    flex: 1;
    margin: auto;
    align-self: center;
    display: flex;
}

header > div#headerMainBar > div#headingSearch > div#searchBar > input[type="text"] {

    padding: 1%;
    margin: 1% 0.5% 1% 1%;
    flex-basis: 50%;

}


.logo{

    width: 70%;
    height: 70%;

}


#nav-bar-container{
    display: flex;
    flex-basis: 2%;
    justify-content: space-between;
    flex: 1;

}
#nav-bar-container a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 50px;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    cursor: pointer;
}



#content #btns{
    /*border: mediumseagreen solid 2px;*/
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    margin-top: 10%;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
}
#content #btns .register{

    /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/
    margin:auto;
    width: 40%;
    height: auto;
    background-color: #4775c4;
    color: whitesmoke;
    position: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;

}
#content #btns .login{

    /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/
    margin:auto;
    width: 40%;
    height: auto;
    background-color: #4775c4;
    color: whitesmoke;
    position: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;

}


input{
    /*all input values will have these properties*/
    border-radius: 5px;
    border: #6a6a6a solid 1px;

}

.searchButton{
    font-size: 14px;
    font-weight: bold;
    border-color: black;
    opacity: 0.6;
    float: right;
    width : 100px;
    height : 37px;
    margin-right: 20px;
    margin-top : 20px;
    cursor : pointer;
}
.register{
    font-size: 14px;
    font-weight: bold;
    border-color: black;
    opacity: 0.6;
    float: left;
    width : 15%;
    height : 37px;
    margin-left: 25%;
    margin-top : 70px;
    cursor : pointer;
}
.login{
    font-size: 14px;
    font-weight: bold;
    border-color: black;
    opacity: 0.6;
    float: right;
    width : 15%;
    height : 37px;
    margin-right: 25%;
    margin-top : 70px;
    cursor : pointer;
}
div#firstthumbnail img#thumbnail1{
    position : absolute;
    top : 15%;
    right: 15%;
    height: 250px;
    width : 370px;
    align : right;
}
div#secondthumbnail img#thumbnail2{
    position : absolute;
    top : 55%;
    left: 15%;
    height: 250px;
    width : 370px;
    align : left;
}
#thumbnail1:hover{
    cursor: pointer;
}
#thumbnail2:hover{
    cursor: pointer;
}
div#firstthumbnail p{
    font-weight: bold;
    font-size: 30px;
    margin-top :12.5%;
    margin-left: 10%;
}
div#secondthumbnail p{
    font-weight: bold;
    font-size: 30px;
    margin-top :16.5%;
    margin-left: 50%;
}
button:hover {
    opacity: 1;
}
footer{
    position: absolute;
    background-color: #4775c4;
    width: 98.5%;
    box-shadow : 8px 8px 2px #a7a7a7;
    height: 100px;
    top: 230%;
}
footer p{
    font-weight: lighter;
    color: whitesmoke;
    margin-left: 45%;
    margin-top: 30px;
    font-size: 16px;
}

#gif1{
    height: 40%;
    width: 40%;
    margin-left: 2%;
    margin-top: 5%;

}

#gif2{
    height: 40%;
    width: 40%;
    margin-left: 50%;
    margin-top: 14%;


}
#gif3{
    height: 40%;
    width: 40%;
    margin-top: 14%;
    margin-left: 2%;

}
#gif4{
    height: 40%;
    width: 40%;
    margin-top: 14%;
    margin-left: 50%;

}
#gif1p{
    margin-top: -12%;
    margin-left: 60%;
}
#gif2p{
    margin-top: -12%;
    margin-left: 10%;
}

#gif3p{
    margin-top: -12%;
    margin-left: 60%;
}

#gif4p{
    margin-top: -10%;
    margin-left: 10%;
}
div#gif-container p {
    font-size: 25px;
}

@media (max-width: 1110px) {
    #nav-bar-container a{
        font-size: 15px;

    }

}

@media (max-width: 850px) {
    #nav-bar-container a{
        font-size: 12px;
        padding: 15px 25px;
    }
    
}

@media (max-width: 570px) {
    #nav-bar-container a{
        font-size: 10px;
        padding: 10px 15px;

    }


}
@media (max-width: 420px) {
    #content #btns .register{

        /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/

        font-size: 15px;



    }
    #content #btns .login{

        /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/

        font-size: 15px;



    }
    #nav-bar-container a{
        font-size: 10px;
        padding: 10px 5px;

    }

}