header{

    color: whitesmoke;
    padding: 0.5%;
    background-color: #4775c4;
    box-shadow: 8px 8px 2px #a7a7a7;
    flex: 1; /*child of the body*/
    order: 1; /*this specifies the order in which it is to be displayed in the html page even if it has a different order in html*/
    display: flex;
}

header > a {

    flex: 1;
    margin: auto;

}

header > h1{

    flex: 9;
    margin: auto;


}

.logo{
    width: 70%;
    height: 70%;

}
div#content{

    flex: 1;/*child of the body*/
    order: 2;
    padding: 2%;
    margin: 9.6% 0; /*to position the rooter on the correct place*/

}

div#contentFlex{

    max-width: 50%;
    min-width: 30% ;
    padding: 0.5%;
    display: flex;
    flex-direction: column; /*default is row , in which flew sets the items in a single row, to make it in a single column we have to do this*/
    margin: auto; /*since this is the element, and it is in a container*/
    box-shadow:  inset -1px -1px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 10px 10px 10px #d2d2d2;


}

.formElement{

    /*each element in the form is considered here so there would be spaces between the elements*/
    box-sizing: border-box;
    padding: 1%;
    margin: 0.5%;
    justify-content: space-between;
    flex-wrap: wrap;
}

#otpFormHeading{

    padding: 0.8% 0.8% 0.8% 1.5%;
    background-color: #4775c4;
    /*box-shadow: 10px 10px 10px #d2d2d2;*/
    color: whitesmoke;
    flex: 1; /*a child of containerflex*/

}

div.formRow{

    flex: 1;/*a child of containerflex*/
    display: flex;

}
input[type = "text"]{

    padding: 0.3%;
    flex: 5;/*a child of formRow*/
    cursor: text;

}
label{

    padding-right: 10px;

}
.formElementButton{
    /*border: mediumseagreen solid 2px;*/
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    margin: 0.5%;
    justify-content: space-between;
    display: inline-block;
    flex-direction: column;
}
#verifyOTP{

    /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/
    margin:auto;
    width: 48%;
    background-color: #4775c4;
    color: whitesmoke;
    padding: 1%;
    position: center;
    font-size: 20px;
    font-weight: bold;

}
#resendOTP{

    /*child element of formElementButton and its in a container can use margin auto to center it horizontally and vertically*/
    margin:auto;
    width: 50%;
    background-color: #4775c4;
    color: whitesmoke;
    padding: 1%;
    font-size: 20px;
    position: center;
    font-weight: bold;



}


input{
    /*all input values will have these properties*/
    border-radius: 5px;
    border: #6a6a6a solid 1px;


}
input[type = "button"]{
    cursor: pointer;
}
#userName{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

#countDown{
    text-align: center;
    position: center;
    margin: auto;
    font-size: 25px;
    font-weight: initial;
}
#countDown #timer{
    color: red;
    font-size: 35px;
    font-weight: bolder;
}



