
input#menuPanel{

    position: relative;
    top: 5%;
    left: 1%;
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    background: url("Icons/menu_white_24dp.svg") no-repeat center rgba(14, 52, 111,1) ;
    background-size: contain;
    box-shadow:   inset 1px 1px 4px white , inset -1px -1px 4px white;

}

img#profileIcon{

    position: fixed;
    left: 90%;
    top: 2.5%;
    width: 40px;

}


div#classroomsList{

    position: fixed;
    margin-left: 0.5%;
    left: 0px;
    top: 100px;
    width: 17%;
    height: 80%;
    background-color: rgba(100, 149, 237, 0.34);
    box-shadow:  inset -1px -11px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 8px 8px 2px #a7a7a7;
    overflow-y: scroll;


}

div#content{

    position: fixed;
    top: 100px;
    left: 20%;
    height: 85%;
    overflow-y: scroll !important;
    width: 80%;
    box-shadow:  inset -1px -11px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 8px 8px 2px #a7a7a7;

}


h4#classroomHeadingWithAddClassroomFunction{

    box-shadow:   4px 4px 2px #a7a7a7;
    position: relative;
    left: 4%;
    padding: 5px;
    width: 85%;
    margin-top: 5%;
    background-color: rgba(14, 52, 111,1);
    color: white;
    text-align: left;

}

h4#classroomHeadingWithAddClassroomFunction > a{

    position: relative;
    left: 30%;
    color: white;
    text-decoration: none;

}

h4#classroomHeadingWithAddClassroomFunction > a > img{

    width: 7%;
    height: 7%;
    float: none;
    vertical-align: middle;

}

a.classRooms{

    box-shadow:   4px 4px 2px #a7a7a7 , inset 2px 2px 7px white , inset -2px -2px 7px white;
    position: relative;
    left: 4%;
    display: block;
    padding: 5px;
    width: 85%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
    text-decoration: none;
    text-align: center;

}

img.newsFeedImage {

    width: 100%;
    height: 100%;
    /*box-shadow: 7px 7px 15px black;*/ /*have to discuss later*/
}

div#like{

    margin-left: 25%;
    margin-right: 50%;

}




/*div#postsFromAdmin{

    position: fixed;
    margin-left: 3%;
    left: 17%;
    top: 100px;
    width: 77%;
    height: 80%;
    background-color: rgba(100, 149, 237, 0.34);
    box-shadow:  inset -1px -1px 5px #4775c4 , inset 1px 1px 5px #4775c4 , 8px 8px 2px #a7a7a7;
    !*overflow: scroll;*!

}*/
