<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--Start of login servlet and filter-->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Controller.Login.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>Controller.AdminServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>loginPasswordHashing</filter-name>
        <filter-class>Controller.Login.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loginPasswordHashing</filter-name>
        <url-pattern>/Login</url-pattern>
    </filter-mapping>
<!--End of login servlet and filter-->

    <!--Start of registration servlet and filter-->
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>Controller.Registration.RegisterServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>registrationPasswordHashing</filter-name>
        <filter-class>Controller.Registration.RegistrationSaltingKeyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>registrationPasswordHashing</filter-name>
        <url-pattern>/Registration</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>registrationFilter</filter-name>
        <filter-class>Controller.Registration.RegisterFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>registrationFilter</filter-name>
        <url-pattern>/Registration</url-pattern>
    </filter-mapping>

    <!--End of registration servlet and filter-->

    <!--Beginning of teacher newsfeed loaded-->

    <servlet>
        <servlet-name>teacherLoad</servlet-name>
        <servlet-class>Controller.UserLoad.TeacherLoadServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherLoad</servlet-name>
        <url-pattern>/teacher/teacherLoad</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>teacherAuthentication</filter-name>
        <filter-class>Controller.Authentication.TeacherAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>teacherAuthentication</filter-name>
        <url-pattern>/teacher/*</url-pattern>
    </filter-mapping>
    <!-- here the asterisk matches any characters, therefore any teacher page should link should start with /teacher -->

    <!--End of teacher newsfeed loaded-->

    <!--Beginning of student newsfeed loaded-->

    <servlet>
        <servlet-name>studentNewsFeedLoaded</servlet-name>
        <servlet-class>Controller.ClassroomList.StudentNewsFeedLoadedServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentNewsFeedLoaded</servlet-name>
        <url-pattern>/student/studentNewsFeedLoaded</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>studentAuthentication</filter-name>
        <filter-class>Controller.Authentication.StudentAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>studentAuthentication</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>


    <!--End of student newsfeed loaded-->

    <!--Start of student student enroll request-->

    <servlet>
        <servlet-name>enrollRequest</servlet-name>
        <servlet-class>Controller.Requests.EnrollRequestServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>enrollRequest</servlet-name>
        <url-pattern>/enrollRequest</url-pattern>
    </servlet-mapping>

    <!--End of student student enroll request-->


    <servlet>
        <servlet-name>teacherClassroomList</servlet-name>
        <servlet-class>Controller.ClassroomList.TeacherClassroomListLoad</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherClassroomList</servlet-name>
        <url-pattern>/teacherClassroomList</url-pattern>
    </servlet-mapping>



    <!--Beginning of student username loaded-->

    <servlet>
        <servlet-name>studentLoad</servlet-name>
        <servlet-class>Controller.UserLoad.StudentLoadServlet</servlet-class>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentLoad</servlet-name>
        <url-pattern>/student/studentLoad</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>studentNameAuthentication</filter-name>
        <filter-class>Controller.Authentication.StudentAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>studentNameAuthentication</filter-name>
        <url-pattern>/student/*</url-pattern>
    </filter-mapping>
    <!-- here the asterisk matches any characters, therefore any teacher page should link should start with /teacher -->

    <!--End of student username loaded-->

    <!--Beginning of teacher create classroom-->

    <servlet>
        <servlet-name>teacherCreateClassroom</servlet-name>
        <servlet-class>Controller.Classroom.TeacherCreateClassroomServlet</servlet-class>
        <load-on-startup>7</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherCreateClassroom</servlet-name>
        <url-pattern>/teacher/teacherCreateClassroom</url-pattern>
    </servlet-mapping>

    <!--end of teacher create classroom-->

    <filter>
        <filter-name>adminAuthentication</filter-name>
        <filter-class>Controller.Authentication.AdminAuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>adminAuthentication</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- beginning of logout-->

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Login.LogoutServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <!-- end of logout -->

    <!-- beginning of the TeacherClassroomListServlet-->
    <servlet>
        <servlet-name>TeacherLoadClassroomList</servlet-name>
        <servlet-class>Controller.ClassroomList.TeacherLoadClassroomListServlet</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>TeacherLoadClassroomList</servlet-name>
        <url-pattern>/teacher/teacherLoadClassroomList</url-pattern>
    </servlet-mapping>

    <!-- end of the TeacherClassroomListServlet-->
    
    <!-- beginning of OTPGenerateServlet-->
    <servlet>
        <servlet-name>OPTGenerate</servlet-name>
        <servlet-class>Controller.OTP.OTPGenerateServlet</servlet-class>
        <load-on-startup>10</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OPTGenerate</servlet-name>
        <url-pattern>/otpGenerate</url-pattern>
    </servlet-mapping>    
    <!-- end of OTPValidateServlet-->

    <!-- beginning of OTPValidateServlet-->
    <servlet>
        <servlet-name>OTPValidate</servlet-name>
        <servlet-class>Controller.OTP.OTPValidateServlet</servlet-class>
        <load-on-startup>11</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OTPValidate</servlet-name>
        <url-pattern>/otpValidate</url-pattern>
    </servlet-mapping>
    <!-- end of OTPGenerateServlet-->

    <!-- beginning of DisplayRequestServlet-->
        
    <servlet>
        <servlet-name>DisplayRequest</servlet-name>
        <servlet-class>Controller.Requests.DisplayRequestServlet</servlet-class>
        <load-on-startup>12</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DisplayRequest</servlet-name>
        <url-pattern>/teacher/displayRequest</url-pattern>
    </servlet-mapping>
    
    <!-- end of DisplayRequestServlet-->

    <!-- beginning of incorrectPassword -->
    <servlet>
        <servlet-name>IncorrectPassword</servlet-name>
        <servlet-class>Controller.Login.IncorrectPasswordServlet</servlet-class>
        <load-on-startup>14</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>IncorrectPassword</servlet-name>
        <url-pattern>/incorrectPassword</url-pattern>
    </servlet-mapping>

    <!-- end of incorrectPassword -->
    
    <!-- beginning of Search -->
    
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controller.Search.SearchServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    
    <!-- End of Search -->

    <!-- beginning of SearchPageOnLoad -->

    <servlet>
        <servlet-name>SearchPageOnLoad</servlet-name>
        <servlet-class>Controller.Search.SearchPageOnLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchPageOnLoad</servlet-name>
        <url-pattern>/searchPageOnLoad</url-pattern>
    </servlet-mapping>

    <!-- End of SearchPageOnLoad -->

    <!-- start search for teacher  -->

    <servlet>
        <servlet-name>SearchTeacher</servlet-name>
        <servlet-class>Controller.Search.SearchResultServlet</servlet-class>
        <load-on-startup>13</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SearchTeacher</servlet-name>
        <url-pattern>/searchTeacher</url-pattern>
    </servlet-mapping>

    <!-- end search for teacher -->

    <!-- beginning of UserProfile Redirect -->

    <servlet>
        <servlet-name>UserProfileRedirect</servlet-name>
        <servlet-class>Controller.UserProfile.UserProfileRedirectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserProfileRedirect</servlet-name>
        <url-pattern>/userProfileRedirect</url-pattern>
    </servlet-mapping>

    <!-- End of UserProfile Redirect -->

    <!-- beginning of add friend request -->

    <servlet>
        <servlet-name>AddFriendRequest</servlet-name>
        <servlet-class>Controller.Requests.AddFriendRequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddFriendRequest</servlet-name>
        <url-pattern>/addFriendRequest</url-pattern>
    </servlet-mapping>

    <!-- End of add friend request -->


    <!-- beginning of adminpost -->
    <servlet>
        <servlet-name>adminpost</servlet-name>
        <servlet-class>Controller.AdminPostServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminpost</servlet-name>
        <url-pattern>/AdminPost</url-pattern>
    </servlet-mapping>

    <!-- End of adminpost -->

    <!-- beginning of teacher profile name load -->

    <servlet>
        <servlet-name>teacherProfileNameLoad</servlet-name>
        <servlet-class>Controller.UserLoad.TeacherSearchProfileNameLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherProfileNameLoad</servlet-name>
        <url-pattern>/student/teacherProfileNameLoad</url-pattern>
    </servlet-mapping>

    <!-- end of teacher profile name load -->



    <!-- beginning of student follow list load -->

    <servlet>
        <servlet-name>studentFollowerListLoad</servlet-name>
        <servlet-class>Controller.StudentFollowerListLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentFollowerListLoad</servlet-name>
        <url-pattern>/student/studentFollowerListLoad</url-pattern>
    </servlet-mapping>

    <!-- end of student follow list load -->

    <!-- beginning of student full name load -->

    <servlet>
        <servlet-name>studentProfileNameLoad</servlet-name>
        <servlet-class>Controller.UserLoad.StudentProfileFullNameLoad</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>studentProfileNameLoad</servlet-name>
        <url-pattern>/student/studentProfileNameLoad</url-pattern>
    </servlet-mapping>

    <!-- end of student full name load -->

    <!-- beginning of teachers profile name load -->

    <servlet>
        <servlet-name>teacherLoadProfileName</servlet-name>
        <servlet-class>Controller.UserLoad.TeacherProfileNameLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherLoadProfileName</servlet-name>
        <url-pattern>/teacher/teacherProfileNameLoad</url-pattern>
    </servlet-mapping>

    <!-- end of teachers profile name load -->


    <!-- beginning of follow teachers -->

    <servlet>
        <servlet-name>followTeacher</servlet-name>
        <servlet-class>Controller.Requests.followTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>followTeacher</servlet-name>
        <url-pattern>/student/followTeacher</url-pattern>
    </servlet-mapping>

    <!-- end of follow teachers -->

    <!-- beginning of unfollow teachers -->

    <servlet>
        <servlet-name>unfollowTeacher</servlet-name>
        <servlet-class>Controller.Requests.unFollowTeacherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>unfollowTeacher</servlet-name>
        <url-pattern>/student/unFollowTeacher</url-pattern>
    </servlet-mapping>

    <!-- end of unfollow teachers -->

    <!-- beginning of unfollow teachers -->

    <servlet>
        <servlet-name>cancelFriendRequest</servlet-name>
        <servlet-class>Controller.Requests.cancelFriendRequestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cancelFriendRequest</servlet-name>
        <url-pattern>/cancelFriendRequest</url-pattern>
    </servlet-mapping>

    <!-- end of unfollow teachers -->

    <!-- beginning of teacher follow list load -->

    <servlet>
        <servlet-name>teacherFollowerListLoad</servlet-name>
        <servlet-class>Controller.TeacherFollowersListLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherFollowerListLoad</servlet-name>
        <url-pattern>/teacher/teacherFollowerListLoad</url-pattern>
    </servlet-mapping>

    <!-- end of student follow list load -->

    <!-- beginning of teacher friend list load -->

    <servlet>
        <servlet-name>teacherFriendListLoad</servlet-name>
        <servlet-class>Controller.UserProfile.TeacherFriendsListLoadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>teacherFriendListLoad</servlet-name>
        <url-pattern>/teacher/teacherFriendsListLoad</url-pattern>
    </servlet-mapping>

    <!-- end of student friend list load -->




    <session-config>

        <session-timeout>20</session-timeout> <!-- here the sessions will be expired after 20 minutes
        if the user doesn't come back. if we set the value to zero then the session will not expire-->

    </session-config>

</web-app>